<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 创建数据源 bean 对象 -->
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/formdata"/>
        <property name="user" value="root"/>
        <property name="password" value="mengmengmeng0501"/>
    </bean>

    <!-- 创建 JdbcTemplate 对象，其中数据源参数使用上面创建的引用型 datasource -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="datasource"/>
    </bean>

    <!--  xml 配置文件获取 jdbc.properties 配置文件中的数据来创建 c3p0 连接池对象  -->
    <context:property-placeholder location="jdbc.properties"/>
    <bean id="datasource2" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="jdbcTemplate2" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="datasource2"/>
    </bean>

    <bean id="accountDao" class="com.dreamplume.dao.impl.AccountImpl"/>

    <bean id="accountService" class="com.dreamplume.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"/>
    </bean>

    <!--  扫描组件  -->
    <context:component-scan base-package="com.dreamplume"/>



</beans>